<% layout("/layouts/boilerplate") %>

<div class="offset-1">
<div class="row">

    <h3 class="mt-3"><b><%= listing.title %></b></h3>

    <div class="card show-card listing-card">
        <div class="col-4">
            <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image">
        </div>
        
        <div class="card-body">
            <p class="card-text">
                <p>Owned by <i><%= listing.owner.username %></i></p>
                <p><%= listing.description %></p> 
                <p>&#8377; <%= listing.price.toLocaleString("en-IN") %></p>
                <p><%= listing.location %></p>
                <p><%= listing.country %></p>
            </p>
        </div>
    </div>
    </div>

    <% if(currUser && currUser._id.equals(listing.owner._id)) { %>
    <div class="btns">
        <a href="/listings/<%= listing._id %>/edit" 
        class="btn btn-dark edit-btn">Edit</a>
        &nbsp; &nbsp; &nbsp;
        <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
            <button class="btn btn-dark">Delete</button>
        </form>
    </div>
    <% } %>

    <br>

    <hr>

    <div class="col-8">
        <% if(currUser) { %>
        <h4 class="mb-3">It will be sweet if you leave a review</h4>
        <form class="needs-validation" action="/listings/<%= listing.id %>/reviews" method="POST" novalidate>
            <div class="mb-3">
                <label for="rating" class="form-label">Rating</label> &nbsp; &nbsp;
                <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
            </div>
            
            <div class="mb-3">
                <label for="comment" class="form-label">Comments</label>
                <textarea name="review[comment]" id="comment" cols="30" rows="6" class="form-control" required></textarea>
                <div class="invalid-feedback">Please fill comments for review</div>
            </div>
            <button class="btn btn-outline-dark">Submit</button>
        </form>
        <% } %>
    </div>

    <br>


    <div>
        <h4 class="mb-3"><b>All Reviews</b></h4>
        <!-- <ul>
        <% for(review of listing.reviews) { %>
            <li> <%= review.comment %> , <%= review.rating %> stars</li>
        <% } %>
        </ul> -->
        <div class="row">

        <% for(review of listing.reviews) { %>
            
            <div class="card col-5 mb-3 ms-3">
                <div class="card-body mt-3">
                    <h5 class="card-title"> @<%= review.author.username %> </h5>
                    <p class="card-text"> <%= review.comment %> </p>
                    <p class="card-text mb-1"> <%= review.rating %> stars</p>
                </div>
                <% if(currUser && currUser._id.equals(review.author._id)) { %>
                <form class="mb-3 mt-3" method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                    <button class="btn btn-sm btn-dark">Delete</button>
                </form>
                <% } %>
            </div>
            
        <% } %>

        </div>
    </div>
</div>
</div>
